.triangle
{ margin: 50px auto;
  height: 0px;
  width: 0px;
  border-left: 50px solid white;
  border-right: 50px solid white;
  border-bottom: 80px solid;
  transition: 3s ease-in-out;
  animation: border-rainbow 20s ease infinite;}

.triangle:hover
{ transform: scale(1.5);
  transition-duration: 3s;
  transition-timing-function: ease-in-out;}


@keyframes border-rainbow
{
  0%  {border-bottom-color: #350142}
  12% {border-bottom-color: #051545}
  25% {border-bottom-color: #170266}
  50% {border-bottom-color: #fab48c}
  75% {border-bottom-color: #051545}
  100%{border-bottom-color: #350142}
}
