.block
{
  animation: translate 4s;

  border-style: dashed;
  border-width: medium;
  border-color: black;

  width: 200px;
  height: 200px;
  margin: auto;
}

@keyframes translate
{
  0%  { transform: translate(0px); }
  50% { transform: translate(81px); }
  100%{ transform: translate(0px); }
}
